 html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #0A0505;
}

#outerdivfav {
  width: 80%;
	margin-top: -180px;
	margin-right: 5%;
	margin-left: 10%;
	text-align: center;
	padding-bottom: 100px;
}
#outerdiv {
	width: 80%;
	margin-top: -200px;
	margin-right: 5%;
	margin-left: 10%;
	text-align: center;
	padding-bottom: 100px;

}
#googleMap {
	float: right;
	border: solid;
	border-color: white;
	width: 100%;
	height: 300px;
	margin-right:;
}

#tweeter {
	float: left;
	margin-left: 3%;
	margin-top: ;
/*	display: inline-block;
	border-radius: 10%;
	border-color: white;
	border: solid;*/
	border-radius: 9px;
}

.timeline-Widget {
    max-width: 1200px;
    background-color: #fff;
     border-radius: 0px;
}

#heading_main {
	background-image: url("sunset_boat.png");
	background-size: cover;
	max-width: 100%;
	background-repeat: no-repeat;
	height: 75%;
	font-family: Arial Black; Georgia;
	color: white;
	text-align: center;
}
#heading_fav {
	background-image: url("sunset_boat.png");
	background-size: cover;
	max-width: 100%;
	background-repeat: no-repeat;
	height: 75%;
	font-family: Arial Black; Georgia;
	color: white;
	text-align: center;
}
#heading_about {
	background-image: url("sunset_boat.png");
	background-size: cover;
	max-width: 100%;
	background-repeat: no-repeat;
	height: 75%;
	font-family: Arial Black; Georgia;
	color: white;
	text-align: center;
}
.topspace {
	margin-top: 55px;
}
.transparent {
	text-align: center;
	width: 100%;
	background: rgba(5, 5, 5, 0.5);
	border-radius: 3%;


}
.leftspace {
	max-width: 100%;
	margin-left: 8%;
}
.navbar {
	z-index: 1;
	background-color: transparent;
	position: absolute;
	width: 100%;
	list-style: none;
	border: none;
	color: orange;
}
#links a {
  font-family: Raleway; Garamond;
  color: white;
  text-decoration: none;
  font-size: 16px;
}
#links a:hover {
	color: orange;
}
.cities {
	font-size: 20px;
}
.linkscities {
	background-color: transparent;
	text-decoration: none;
	list-style: none;
	height: 65%;
	font-family: Arial Black; Georgia;
	color: white;
	text-align: center;
	width: 100%;
	bac
}
.text {
	margin-top: ;
	margin-left: 27%;
	text-decoration: none;
	list-style: none;
	font-family: Arial; Georgia;
	color: white;
	width: 60%;
	font-size: 18px;

}
h1 {
	font-size: 40px;
}
h3 {
	font-size: 25px;
	text-shadow: none;
}
h5, h4 {
	color: white;
}
#nav ul {
    text-align: center;
    padding: 0px;
    margin: 0px;
}

li {
	display: inline-block;
}

li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 5%;

}
a:link {
	text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #0A0505;
    color: orange;
}
li p {
	display: block;
    color: white;
    padding: 14px 16px;
    padding-right: 30px;
    text-decoration: none;
    font-size: 16px;
}
.right {
	float: right;
	text-align: center;
	color: white;

}
#create-form {
	white-space: nowrap;
	float: left;
}
#button {
	/*float: right;*/
/*	margin-top: 50px;
	margin-right: 30%;*/
	color: black;
}
#address-input {
	/*float: right;
	margin-top: 50px;
	margin-right: 30%;*/
	width: 380px;
	color: black;
	/*white-space: nowrap;*/
}
#favlist {
	margin-top: 400px;
	float: left;
}
#footer {
	margin-top: 20%;
}
.input-group {
	margin-left: 50%;
	width: 45%;
}
.about {
	text-align: center;
	max-width: 70%;
}
p {
	font-family: arial;
	font-size: 16px;
}
.twitter-follow-button {
	margin-top: 15px;
	margin-left: 10px;
}